@font-face {
  font-family: "iconfont"; /* Project id 2769681 */
  src: url('iconfont.woff2?t=1629942626093') format('woff2'),
       url('iconfont.woff?t=1629942626093') format('woff'),
       url('iconfont.ttf?t=1629942626093') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before {
  content: "\e612";
}

.icon-qq-line:before {
  content: "\e70e";
}

.icon-youqinglianjie:before {
  content: "\e636";
}

.icon-icon-test:before {
  content: "\e61d";
}

.icon-fenlei:before {
  content: "\e602";
}

.icon-biaoqian:before {
  content: "\e63c";
}

.icon-liuyan:before {
  content: "\e60a";
}

.icon-github:before {
  content: "\e677";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-guidang:before {
  content: "\e63e";
}

.icon-xia:before {
  content: "\e67d";
}

.icon-fangdajing:before {
  content: "\e613";
}

.icon-home:before {
  content: "\ec0a";
}

